head{
    width:50px;
}
body{
    background-color: #99D8DD;
    align-items: center;
}
.container {
background-color: #F9D002;
width: 50%;
height: 300px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.submitbtn{
    background-color: #01587A;
    color:#E1E8EC;
    border-radius: 5px;
    margin: 10px;

}
.submitbtn :hover{
    
}
