head{
    width:50px;
}
body{
    background-color: #99D8DD;
    align-items: center;
}
.container {
background-color: #F9D002;
font-family: 'Comfortaa', cursive,'Assistant', sans-serif;
width: 55%;
height: 360px;
    border-radius: 7px;
    text-align: center;
    display: block;
    margin-top: 80px;
    margin-bottom: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    
}
.submitBtn{
    background-color: #01587A;
    color:#E1E8EC;
    border-radius: 5px;
    margin: 10px;
}
.default:hover{
background-color:#beedf0;
color: black;
}

.hide {
    display: none;
}

.nav-wrapper{
    background-color: #F9D002;
}
