body { font-family: sans-serif;background: linear-gradient(25deg,#CBD4D7,#4f5253); }

.cube-container{
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scene {
  width: 300px;
  height: 300px;
  margin: 80px;
  perspective: 400px;
}

.box {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}

.box.show-angle       { transform: translateZ( -100px) rotateX( -45deg) rotateY(  45deg); }
.box.show-front       { transform: translateZ( 100px) rotateY(  0deg); }
.box.show-back        { transform: translateZ( 100px) rotateY( -180deg); }
.box.show-right       { transform: translateZ( 100px) rotateY( -90deg); }
.box.show-left        { transform: translateZ( 100px) rotateY(  90deg); }
.box.show-top         { transform: translateZ( 100px) rotateX( -90deg); }
.box.show-bottom      { transform: translateZ( 100px) rotateX(  90deg); }


.box__face {
  position: absolute;
  border: .5px solid white;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0px 0px 15px whitesmoke;
}

.box__face--front,
.box__face--back {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.box__face--right,
.box__face--left {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.box__face--top,
.box__face--bottom {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.box__face--front  { background:#EED301; }
.box__face--right  { background:#99D8DD; }
.box__face--back   { background:#01587A; }
.box__face--left   { background:#E1E8EC; }
.box__face--top    { background:#5CB3C1; }
.box__face--bottom { background:#E7DE4D; }


.box__face--front  { transform: rotateY(  0deg) translateZ( 150px); }
.box__face--back   { transform: rotateY(180deg) translateZ( 150px); }

.box__face--right  { transform: rotateY( 90deg) translateZ( 150px); }
.box__face--left   { transform: rotateY(-90deg) translateZ( 150px); }

.box__face--top    { transform: rotateX( 90deg) translateZ(150px); }
.box__face--bottom { transform: rotateX(-90deg) translateZ(150px); }


label { margin-right: 10px; }

